<br>
<br>
<ul>
  {{#each model as |news|}}
     <li>
      {{news.type}}
      <br>
      <img src="{{news.image}}" alt="news photo">
       <br>
      <h2>{{news.headline}}</h2>
     </li>
  {{/each}}
</ul>
